---

---


<header class="fixed top-0 left-0 w-full z-50 bg-transparent backdrop-blur-md">
    <div class="container mx-auto px-4 flex justify-between items-center py-4">
        <div>
            <h3 onclick="location.href='/'"  class="font-bold text-xl hover:cursor-default">SebasDevRC</h3>
        </div>
        <div>
            <nav>
                <ul class="flex gap-10">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/#about-me">Sobre Mi</a></li>
                    <li><a href="/">Proyectos</a></li>
                    <li><a href="/">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
