---
import NavigateLinks from "./NavigateLinks.astro"
import MobileMenu from "./MobileMenu.astro"

---


<header class="fixed top-0 left-0 w-full z-50 bg-transparent backdrop-blur-md">
    <div class="container mx-auto px-4 flex justify-between items-center py-4">
        <div>
            <h3 onclick="location.href='/'"  class="font-bold text-xl hover:cursor-default">SebasDevRC</h3>
        </div>
        <nav class="hidden md:block">
            <NavigateLinks />
        </nav>
        <MobileMenu />
    </div>
</header>
